.col-sm-3.col-xs-2
  .content-wrapper
    .user-profile
      .user-profile-pic
        = image_tag(@user.user_profile.picture.url, alt: 'Profile Pic') if @user.user_profile.picture?
      .user-name.text-center
        = @user.user_profile.full_name
        %br
        = @user.user_profile.username
        %p.join-date
          = 'Joined ' + @user.created_at.strftime('%b %Y')
      .user-stats-con
        .user-stats
          %h5.stat-label Followers
          %h4.stat= @followers
        .user-stats
          %h5.stat-label Following
          %h4.stat
            = link_to @following, '#'
        .user-stats
          %h5.stat-label Diggles
          %h4.stat= @posts_count
      %div
        %h5
          = @users_followed_count.to_s + ' follower'.pluralize(@users_followed_count) + ' you know'
        %div
          - @users_followed.each do |user|
            = image_tag(user.user_profile.picture.url) if user.user_profile.picture?
.col-sm-6.col-xs-6.content.diggles-stream
  .content-wrapper
    = render 'posts/post', posts: @posts
.col-sm-3.col-xs-12.users-follow-con
  .content-wrapper
    %h4 Who to follow
    - @users_to_follow.each do |user|
      = render 'relationships/follow', user: user
