.profile-wrapper
  .masthead
  .user-profile-pic
    = image_tag(@user.user_profile.picture.url(:square), alt: 'Profile Pic', class: 'user-profile-img') if @user.user_profile.picture?
  .profile-content-con
    .col-sm-3.col-xs-2.profile-con
      .content-wrapper
        .user-profile
          .user-name
            %h4
              %b= @user.user_profile.full_name
            %h5.username= @user.user_profile.username
            %h5.join-date
              = 'Joined ' + @user.created_at.strftime('%b %Y')
          %div
            %h5.followers-know
              = @followers_following.to_s + ' follower'.pluralize(@followers_following) + ' you know'
            %div
              - @current_user_following.each do |user|
                = image_tag(user.user_profile.picture.url) if user.user_profile.picture?
    .col-sm-9.col-xs-8.profile-con
      = render 'layouts/profile_tabs'
