.post-container{id: "post-#{post.id}"}
  .users-profile-pic-con
    = image_tag(post.user.user_profile.picture.url, class: 'users-profile-pic') if post.user.user_profile.picture?
  %span
    .diggles-user-data
      = link_to post.user.user_profile.full_name, user_path(post.user)
      %h5.username= post.user.user_profile.username
      %span &bull;
      %h5.timestamp= to_pretty(post.created_at)
  .post-con
    .post-text-only
      = raw(post.body)
    = image_tag(post.picture.url, class: 'post-picture') if post.picture?
    = link_to 'Show', post_path(post), {"class" => "show", "remote" => "true", "data-toggle" => "modal", "data-target" => "#modal-window"}
