.col-sm-3.col-xs-2
  .content-wrapper
    .user-profile
      .user-profile-pic
        = image_tag(current_user.picture.url, alt: 'Profile Pic') if current_user.picture?
      .user-name.text-center
        = current_user.full_name
        %br
        = current_user.username
      .user-stats-con
        .user-stats
          %h5.stat-label Followers
          %h4.stat= @followers
        .user-stats
          %h5.stat-label Following
          %h4.stat
            = link_to @following, '#'
        .user-stats
          %h5.stat-label Diggles
          %h4.stat= @posts_count
.col-sm-6.col-xs-6.content.diggles-stream
  .content-wrapper
    .form-container
      = render 'posts/form'
    #posts
      = render 'posts/post', posts: @posts
.col-sm-3.col-xs-12.users-follow-con
  .content-wrapper
    - @users.each do |user|
      = render 'relationships/follow', user: user
