.container
  .col-sm-10.col-sm-offset-1.col-xs-12
    - @users.each do |user|
      .col-xs-12
        %div
          = user.email 
          = button_to 'Follow'
  .col-sm-10.col-sm-offset-1.col-xs-12
  .col-sm-10.col-sm-offset-1.col-xs-12.content
    - @posts.each do |post|
      .col-xs-12
        .text-center
          %h6= post.created_at.strftime('%b %d, %Y')
        %div
          = raw(post.body)
  = link_to 'Create new post', new_post_path
