%nav.navbar.navbar-expand-lg.navbar-light.fixed-top#main-nav
  .container.navbar-container
    .collapse.navbar-collapse.navbar-items-con
      %ul.navbar-nav
        %li.nav-item
          = link_to authenticated_root_path, class: 'nav-link' do
            %i{class: 'ionicons ion-android-home icon-nav'}
            %span Home
          - if user_signed_in?
            = link_to '#', class: 'nav-link' do
              %i{class: 'ionicons ion-android-notifications icon-nav'}
              %span Notifications
          - else
            = link_to page_path('about'), class: 'nav-link' do
              %i{class: 'ionicons ion-ios-information icon-nav'}
              %span About
    .collapse.navbar-collapse.navbar-items-user
      - if user_signed_in?
        .dropdown
          %button.btn.dropdown-toggle.user-dropdown{'type' => 'button', 'data-toggle' => 'dropdown'}
            %span{class: 'ionicons'} &#xf3a0;
          %ul.dropdown-menu
            %li
              = link_to edit_user_registration_path, class: 'nav-link' do
                %i{class: 'ionicons ion-android-person'}
                Update Profile
            %li
              = link_to '#' do
                %i{class: 'ionicons ion-ios-list-outline'}
                Account Settings
            %li
              = link_to destroy_user_session_path, class: 'nav-link', method: :delete do
                %i{class: 'ionicons ion-log-out'}
                Logout
